body{
	background-color : #935d8c;
}

.Person:hover{
	opacity : 0.7;
}

.PersonSection{
	display : -moz-flex;
	display : -webkit-flex;
	display : -ms-flex;
	display : flex;
	-moz-flex-wrap : wrap;
	-webkit-flex-wrap : wrap;
	-ms-flex-wrap : wrap;
	flex-wrap : wrap;
	-moz-justify-content : center;
	-webkit-justify-content : center;
	-ms-justify-content : center;
	justify-content : center;
	width : calc(100%);
	margin : 2em 0 1em 0;
	padding : 0;
	list-style : none;
}

.MentorContent{
	background-color : #ffffff;
	color : #636363;
	border-radius : 0.25em;
	padding : 0px 20px 0px 20px;
}